{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Set Exam Details</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav> -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="active" id="home-tab" data-toggle="tab" href="#exam" role="tab" aria-controls="exam" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="" id="profile-tab" data-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="false">Profile</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class=" fade show active" id="exam"  aria-labelledby="home-tab">...</div>  
    <div class=" fade" id="questions"  aria-labelledby="profile-tab">...</div>
  </div>
  <div class="mr-5">
    <form action="" method="POST" class="m-2">
      <div class="m-3 p-3">
        <div class="row">
          <div class="form-group col-6">
            <label for="">Subject name</label>
            <select type="text" name="yr" class="form-control" placeholder="choce.." required="required">
              <option>Select...</option>
              
              {% for s in s %}
                
              <option value="{{s.sub_name}}">{{s.sub_code}} - {{s.sub_name}}</option>

              {% endfor %}
            </select>
          </div>
          <div class="form-group col-6">
            <label for="">Exam Date</label>
            <input type="date" class="form-control" required="required">
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <label>Year :</label>
            <select type="text" name="yr" class="form-control" placeholder="choce.." required="required">
              <option>Select...</option>
              <option value="1st Year"> 1st Year </option>
              <option value="2nd Year"> 2nd Year</option>
              <option value="3rd Year"> 3rd Year</option>
              <option value="4th Year"> 4th Year</option>
            </select>
          </div>
          <div class="col form-group">
            <label>Sem :</label>
            <select type="text" name="yr" class="form-control" placeholder="choce.." required="required">
              <option>Select...</option>
              <option value="1st Sem"> 1st Sem </option>
              <option value="2nd Sem"> 2nd Sem</option>
              <option value="3rd Sem"> 3rd Sem</option>
              <option value="4th Sem"> 4th Sem</option>
              <option value="5th Sem"> 5th Sem</option>
              <option value="6th Sem"> 6th Sem</option>
              <option value="7th Sem"> 7th Sem</option>
              <option value="8th Sem"> 8th Sem</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <label for="">Required Time</label>
            <input type="Number" class="form-control" placeholder="How many min....">

          </div>

          <div class="col form-group">
            <label for="">Total Number of Question</label>
            <input type="Number" class="form-control" placeholder="How many question....">

          </div>
        </div>
        <div class="row d-flex justify-content-center mt-5">
          <button type="submit" name="ssub" value="Submit" class="btn btn-success">Create Test</button>
      </div>
      </div>
    </form>
  </div>
</main>
{% endblock %}