{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="col-md-9 ml-sm-auto col-lg-10">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2">Set Exam :</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" class="btn btn-sm btn-outline-secondary">Share</a>
                <a type="button" class="btn btn-sm btn-outline-secondary">Export</a>
            </div>
            <a type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </a>
        </div>
    </div>
    <div class="container">
        <div>
            <h3 class="text-center">First Year</h3>
            <div class="row">
                <div class="col">
                    <div class="m-4 text-center text-success">First Semester</div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td style="text-align:center"><a href="ffem" class="btn btn-primary btn-sm">Engineering
                                        Mathematics - I</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><a href="ffec" class="btn btn-primary btn-sm">Engineering
                                        Chemistry</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><a href="ffemh" class="btn btn-primary btn-sm">Engineering
                                        Mechanics</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><a href="ffcp" class="btn btn-primary btn-sm">Computer
                                        Programming in C</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="m-4 text-center text-success">Second Semester</div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td style="text-align:center"><a href="fsem" class="btn btn-primary btn-sm">Engineering
                                        Mathematics - II</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><a href="fsep" class="btn btn-primary btn-sm">Engineering
                                        Physics</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><a href="fseg" class="btn btn-primary btn-sm">Engineering
                                        Graphics</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center"><a href="fscs" class="btn btn-primary btn-sm">Communication
                                        Skills</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div>
                <h3 class="text-center">Second Year</h3>
                <div class="row">
                    <div class="col">
                        <div class="m-4 text-center text-success">Third Semester</div>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td style="text-align:center"><a href="stem" class="btn btn-primary btn-sm">Engineering
                                            Mathematics - III</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><a href="stdm" class="btn btn-primary btn-sm">Discrete
                                            Mathematics</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><a href="stds" class="btn btn-primary btn-sm">Data
                                            Structures</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><a href="stca" class="btn btn-primary btn-sm">Computer
                                            Architecture & Organization</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <div class="m-4 text-center text-success">Fourth Semester</div>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td style="text-align:center"><a href="sfda" class="btn btn-primary btn-sm">Design and
                                            Analysis of Algorithms</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><a href="sfps" class="btn btn-primary btn-sm">Probability &
                                            Statistics</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><a href="sfos" class="btn btn-primary btn-sm">Operating
                                            Systems</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><a href="sfpd" class="btn btn-primary btn-sm">Product Design
                                            Engineering</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <hr>
                    <h3 class="text-center">Third Year</h3>
                    <div class="row">
                        <div class="col">
                            <div class="m-4 text-center text-success">Fifth Semester</div>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td style="text-align:center"><a href="tfds" class="btn btn-primary btn-sm">Database
                                                Systems</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><a href="tftc" class="btn btn-primary btn-sm">Theory of
                                                Computations</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><a href="tfml" class="btn btn-primary btn-sm">Machine
                                                Learning</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><a href="tfcl" h class="btn btn-primary btn-sm">Cyber
                                                Laws</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <div class="m-4 text-center text-success">Sixth Semester</div>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td style="text-align:center"><a href="tscd" class="btn btn-primary btn-sm">Compiler
                                                Design</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><a href="tscn" class="btn btn-primary btn-sm">Computer
                                                Networks</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><a href="tsai" class="btn btn-primary btn-sm">Artificial
                                                Intelligence</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center"><a href="tsiot" class="btn btn-primary btn-sm">Internet of
                                                Things</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <hr>
                        <h3 class="text-center">Fourth Year</h3>
                        <div class="row">
                            <div class="col">
                                <div class="m-4 text-center text-success">Seventh Semester</div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center"><a href="fsvse"
                                                    class="btn btn-primary btn-sm">Software Engineering</a></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center"><a href="fsvds"
                                                    class="btn btn-primary btn-sm">Distributed System</a></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center"><a href="fsvcc" h class="btn btn-primary btn-sm">Cloud
                                                    Computing</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center"><a href="fsvbt"
                                                    class="btn btn-primary btn-sm">Blockchain Technology</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col">
                                <div class="m-4 text-center text-success">Eighth Semester</div>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center"><a href="fegdp" class="btn btn-primary btn-sm">Deep
                                                    Learning</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center"><a href="fegcn"
                                                    class="btn btn-primary btn-sm">Cryptography and Network
                                                    Security</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}